<%- include("partials/header") -%>

<div class="add-shop-container">
  <h1 class="title">Registration Form</h1>
  <form class="form-container" action="/add" method="post" enctype="multipart/form-data">
    <div class="column-container">
      <!---------column 1 -------->
      <div class="col">
        <div class="form-group">
          <label for="">Shop name</label>
          <input
            class="input-box"
            type="text"
            name="name"
            id=""
            placeholder="Enter..."
          />
        </div>
        <div class="form-group">
          <label for="">Shop owner</label>
          <input
            class="input-box"
            type="text"
            name="owner"
            id=""
            placeholder="Enter..."
          />
        </div>
        <div class="form-group">
          <label for="">Domain</label>
          <select
            class="input-box"
            class="custom-select"
            id="Domain"
            name="domain"
            oninput=domainSubCategory()
          >
            <option selected>Choose...</option>
            <% domains.forEach(function(eachDomain) { %>
              <option ><%= eachDomain %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="" style="font-size: 1.1em;">Items</label>
          <div class="checkbox-group" id="domainItems">
          </div>
        </div>
      </div>
      <!---------column 2 -------->
      <div class="col">
        <div class="form-group">
          <label for="">Location</label>
          <input
            class="input-box"
            type="text"
            name="location"
            id=""
            placeholder="Enter..."
          />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input
            class="input-box"
            type="text"
            name="description"
            id=""
            placeholder="Enter..."
          />
        </div>
        <div class="form-group">
          <label for="">Timing</label>
          <div class="input-time">
            <input
              class="input-box"
              type="time"
              name="start"
              id=""
              placeholder="Start time"
            />
            <input
              class="input-box"
              type="time"
              name="end"
              id=""
              placeholder="End time"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Shop Photo</label>
          <div class="upload-pic-group">
            <div class="upload-pic-item">
              <!-- <label for="">Shop Photo</label> -->
              <input type="file" name="image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-btn">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<%- include("partials/footer") -%>