<%- include("partials/header") -%>

<div class="added-container">
    <div class="jumbotron">
        <h1 class="display-4">Hurry!</h1>
        <p class="lead">Your Shop's registration is successfully completed.</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <p class="lead">
          <a class="btn btn-primary btn-home" href="/" role="button">Home</a>
        </p>
      </div>
</div>

<%- include("partials/footer") -%>
