<%- include("partials/header") -%>

<div class="added-container">
    <div class="jumbotron">
        <h1 class="display-4">Sorry!</h1>
        <p class="lead">Your Shop's registration has failed.</p>
        <hr class="my-4">
        <p>Please contact the owner!</p>
        <p class="lead">
          <a class="btn btn-primary btn" href="/" role="button">Home</a>
        </p>
      </div>
</div>

<%- include("partials/footer") -%>
