<%- include("partials/header") -%>

<div class="home-container">
    <div class="image">
        <img src="logo1.jpg" alt="">
    </div>
    <p class="slogan">Welcome to Street Foody</p>
    <div class="buttons">
        <a href="/filter" class="btn ">Filter Search</a>
        <a href="/add" class="btn ">Add your Shop</a>
    </div>
</div>

<%- include("partials/footer") -%>